<!DOCTYPE HTML>
<html>

<head>
	<title>CAsset Portal - 404</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
	<div style="text-align:center;">
		PAGE NOT FOUND - 404
	</div>

	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>