<!DOCTYPE HTML>
<html>

<head>
    <title>CAsset Portal - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="row login valign-wrapper">
            <form class="col s12" id="full-col">
                <div class="row center">
                    <h1>Login</h1>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn">Sign In</a>
                        <a class="waves-effect waves-light btn">Support</a>
                    </div>
                </div>
                <div class="row center">
                    <a style='padding-bottom:36px;' href="/dashboard">Go To Dashboard</a>
                </div>
            </form>
        </div>
    </div>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                Capstone 01602 by Syed H.
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>