<!DOCTYPE html>
<html>
    <head>
        <title>CAsset Portal - Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <script src="js/jquery-3.5.1.js"></script>
        <script src="js/custom.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <nav>
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo">CAsset</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="dashboard">ASSETS</a></li>
                            <li><a href="#">SENSORS</a></li>
                            <li><a href="#">NETWORK</a></li>
                            <li><a href="#">USERS</a></li>
                            <li><a href="#">STATUS</a></li>
                            <li><a href="#">LOGOUT</a></li>
                        </ul>
                    </div>
                </nav>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="#">ASSETS</a></li>
                    <li><a href="#">SENSORS</a></li>
                    <li><a href="#">NETWORK</a></li>
                    <li><a href="#">USERS</a></li>
                    <li><a href="#">STATUS</a></li>
                    <li><a href="#">LOGOUT</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col s6">
                    <!-- Search Bar -->
                    <nav>
                        <div class="nav-wrapper">
                            <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col s6 search-filters">
                    <div class="row">
                        <div class="input-field col s4">
                            <select multiple>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                            <label>Node State</label>
                        </div>
                        <div class="input-field col s4">
                            <select multiple>
                                <option value="1">SYDNEY</option>
                                <option value="2">MELBOURNE</option>
                                <option value="2">BRISBANE</option>
                            </select>
                            <label>Network Domain</label>
                        </div>
                        <!-- <div class="col s4 date-picker">
                            <input type="text" class="datepicker" placeholder="Last Active Date">
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 asset-content">
                        <!-- Page content  -->
                        <table class="responsive-table highlight centered">
                            <thead>
                                <tr>
                                    <th>
                                        <label>
                                            <input type="checkbox"/>
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>ID</th>
                                    <th>TYPE</th>
                                    <th>GATEWAY</th>
                                    <th>SKU</th>
                                    <th>STATE</th>
                                    <!-- <th>NETWORK DOMAIN</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="list-node-1">
                                    <td><label><input type="checkbox"/><span></span></label></td>
                                    <td class="id">0</td>
                                    <td id="type">0</td>
                                    <td id="gateway">0</td>
                                    <td class="sku">0</td>
                                    <td class="state">0</td>
                                    <!-- <td id="network">0</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5 asset-selections">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Selected</a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">Report</a></li>
                            <li><a href="#!">Disable</a></li>
                        </ul>
                    </div>
                    <div class="col s7 asset-pagination">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="disabled"><a onclick="return false;" href="#!">2</a></li>
                            <li class="disabled"><a onclick="return false;" class="disabled" href="#!">3</a></li>
                            <li class="disabled"><a onclick="return false;" class="disabled" href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row">
                        <h3>Node - <span class="id"></span></h3>
                        <a style="float:right;right:0;" class="waves-effect waves-light btn red">Flag ⚐</a>
                        <div class="col s6">
                            <p type="text">Name: <span class="id"></span></p>
                            <p type="text">SKU: <span class="sku"></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label class="state-status">State: <span class="state"></span> Last Connected: <span class="lastUpdated"></span></label><br>
                            <label>IPV4 Address: <span class="ip"></span></label><br>
                            <div class="node-details-more">
                                <label>Serial Number: <span id="serial"></span></label><br>
                                <label>Manufacturer: <span id="manufacturer"></span></label><br>
                                <label>Model Number: <span id="model"></span></label><br>
                                <label>Internal Description: <span id="description"></span></label><br>
                                <label>Metadata: <span id="metadata"></span></label><br>
                            </div>
                            <div><label class="show-more">Show more</label></div>
                        </div>
                    </div>
                    <div stlye="padding-top: 20px;" class="row">
                        <a style="bottom:0;left:0;float:left;" class="waves-effect waves-light btn red">Disable</a>
                        <a style="bottom:0;right:0;float:right;" class="waves-effect waves-light btn">Save</a>
                    </div>
                    <div class="row">
                        <a class="waves-effect waves-light btn grey" disabled>Edit</a>
                        <a class="waves-effect waves-light btn orange" disabled>Archive</a>
                        <a class="waves-effect waves-light btn" disabled>Locate</a>
                        <a class="waves-effect waves-light btn sensorToggle">Toggle Attached Sensors</a>
                    </div>
                    <hr/>
                    <div class="row sensor-view">
                        <h5>| Sensors | <span>
                            <label class="waves-effect waves-light sensor-status-dht11">DHT11</label>
                            <label class="waves-effect waves-light sensor-status-ldr">LDR</label>
                            <label class="waves-effect waves-light sensor-status-gps">GPRS</label>
                        </span></h5>
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <canvas id="dht11" width="50%" height="50%"></canvas>
                                </div>
                                <div class="col s6">
                                    <canvas id="ldr" width="50%" height="50%"></canvas>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 center">
                                    <p class="gps-status">GPRS Sensor Location (Longitude, Latitude)</p>
                                    <p id="gprs" width="100%" height="100%"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div>
            <h3>DEVELOPMENT AREA</h3>
        </div> -->
        <!-- <h4>Specific Device Information</h4> -->
        <!-- <div id="state">DEVICE INFO: WAITING FOR DEVICE...</div> -->
        <!-- <div id="deviceInfo">DEVICE IP: WAITING FOR DEVICE...</div> -->
        <!-- <div id="deviceSensorData1">No Event Data Available for Sensor 1 - Temp</div>
        <div id="deviceSensorData2">No Event Data Available for Sensor 2 - LDR</div>
        <div id="deviceSensorData3">No Event Data Available for Sensor 3 - GPS</div>
        <h4>List Devices</h4>
        <div id="deviceslist">DEVICE LIST: WAITING FOR DEVICE...</div> -->
        <!-- <div class="row">
            <div class="col-12 col-sm-6">
                <canvas id="dht11" width="100%" height="100%"></canvas>
            </div>
        </div> -->
        <!-- <br> -->
        <!-- <div class="row">
            <div class="col-12 col-sm-6">
                <canvas id="ldr" width="100%" height="100%"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1><strong>GPRS Co-ordinates</strong></h1>
                <p id="gprsLat" width="100%" height="100%"></p>
                <p id="gprsLon" width="100%" height="100%"></p>
            </div>
        </div> -->

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/socket.io.js"></script>
        <script type="text/javascript" src="js/Chart.min.js"></script>
        <script src="js/socketCommands.js"></script>
        <script src="js/dht11-chart.js"></script>
        <script src="js/ldr-chart.js"></script>
    </body>
</html>