html {
    font-size: 11pt;
}
body {
    font-family: tahoma;
    font-size: 11pt;
}
label {
    font-size: 11pt;
    color: black;
}
.show-more {
    color: grey;
}
.state-status {
    color: grey;
}
.modal {
    width: 80%;
    max-height: 80%
}

.sensor-view {
    display: none;
}
.sensor-status-dht11 {
    background-color: lightgrey;
    color: black;
    padding: 5px 15px 5px 15px;
}
.sensor-status-ldr {
    background-color: lightgrey;
    color: black;
    padding: 5px 15px 5px 15px;
}
.sensor-status-gps {
    background-color: lightgrey;
    color: black;
    padding: 5px 15px 5px 15px;
}
.gps-status {
    display: block;
}